body {
    background-color: whitesmoke;
}
div>p {
    font-size: 300%;
    color: blue;
    font-family: Impact;
}
form {
    font-size: 200%;
    color: black;
    font-family: verdana;
}
p {
    font-size: 150%;
    color: gray;
    font-style:inherit;
  }